body{
    margin: 0;
    font-family: 'Inter';
    scroll-behavior: smooth;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white; 
    width: auto;
    min-height: 100dvh;
    overflow-y: auto;
}
.App label{
    align-self: center;
    justify-self: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin: 10px;
}
.App input{
    align-items: center;
    margin: 10px;
    justify-self: center;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.App button{
    margin: 10px;
    background-color: white;
    color: darkgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;

}
.circle{
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    to {transform: rotate(360deg);}
}
#s{
    text-decoration: underline;
    cursor: pointer;
}
#t{
    font-weight: normal;
}