.home{
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
}
body{
    margin: 0;
    font-family: 'Inter';
    scroll-behavior: smooth;
}
@keyframes highlight{
    0% { align-self: center;margin-right: 0px;margin-left: 0px; }
    100% { align-self: center;margin-right: 0px;margin-left: 0px; }
}
.top label
{
    font-weight: bold;
    font-size: 25px;
    justify-self: center;
    align-self: center;
    color: white;
}
.top
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color:darkgreen;
    flex-wrap: wrap;
}
#connect_people{
    padding-left: 3px;
    padding-top: 3px;
}
.body_section{
    display:flex;    
    background-color: white;
}
.body_section div{
    height: 100vh;
    width: 100%;
    display: flex;
}
.desktop_icons{
    flex: .5 ;
    border: darkgreen solid ;
    border-width: 0px 1px 0px 0px;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.desktop_icons label{
    color: darkgreen;
    cursor: pointer;
    background-color: lightgreen;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 5px ;
    padding-bottom: 5px ;
}
.main_body_section
{
    flex: 1 ;
    border: darkgreen solid ;
    border-width: 0px 1px 0px 0px;
    flex-direction: column;
    overflow-x: hidden;
}
.people_section
{
    overflow-y: scroll;
    flex: .5 ;
    flex-direction: column;
}

.userinfo{
    display: flex;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.userinfo button{
    background-color: lightgreen;
    color: darkgreen;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.userinfo i, .userinfo button, .userinfo span{
    font-weight: bold;
    font-size: 25px;
}
.people_section span ,.desktop_icons,.people_section{
    word-wrap: break-word;
    word-break: break-word;
}
#youmayknow{
    font-size: 25px;
    padding-top: 29px;
}
.profile_section,.settings_section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: scroll;
    margin-top: 30px;
    scrollbar-width: none;
}
.profile_section i,.settings_section i{
    font-size: 60px;
}
.profile_section label,.settings_section label{
    font-size: 25px;
    font-weight: bolder;
}
.profile_section input,.settings_section input,.settings_section select{
    font-size: 25px;
    color:black;
    border: darkgreen solid;
    border-width: 1px 0px 1px 0px;
    border-radius: 20px;
}
.settings_section a{
    font-size: 25px;
    text-decoration: underline;
}
.settings_section div,.profile_section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin: 0px 20px;
    border-radius: 20px;
    background-color: darkgreen;
    padding: 0px 5px;
    
}
.profile_section button,.settings_section button{
    background-color: lightgreen;
    color: darkgreen;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}

.chat_detail_section{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    padding-top: 29px;
}

.chat_detail_section label,.chats label{
    font-weight: bold;
    font-size: 25px;
    align-self: center;
    justify-self: center;
    color: darkgreen;
}
#profile_name{
    background-color: lightgreen;
    width: auto;
    text-align: center;
    position: fixed;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 10px 10px;
}
#refresh_people{
    cursor: pointer;
}
.msg_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    position: fixed;
    align-self: center;
    bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.msg_div textarea{
    font-family: sans-serif;
    font-size: 20px;
    width: 400px;
    border-radius: 10px;
}
.msg_div div,.msg_div span{
    width: 430px;
    border-radius: 10px;
}
.msg_div textarea,.msg_div button{
    border:none ;
}
.msg_div button{
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}
.msg_div span{
    border: black solid;
    border-width: 1px;
}
.msg_div div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: black solid;
    border-width: 1px;
}
.chats{
    display: flex;
    padding-top: 29px;
    flex-direction: column;
    overflow-y: scroll;
}
.chat_bar{
    border-width: 0px 0px 1px 0px !important;
    flex: .1;
    justify-content: center;
    align-items: start;
    cursor: pointer;
}
.chat_bar span{
    font-size: 25px;
    color: darkgreen;
    overflow-x: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}
#connect_msg{
    border-width: 0px 0px 1px 0px !important;
    width: 100%;
}
.phone_icons{
    color: white;
}
.chat_detail{
    padding-top: 29px;
}
.chat_detail_section{
    margin-bottom: 70px;
}
.phone_icons label{
    border-radius: 6px;
}
select{
    cursor: pointer;
}
.settings_section select{
    width: 100%;
}
@media (max-width: 1100px)
{
    .msg_div div,.msg_div span{
        border:none;
    }
    .desktop_icons{
        display: none !important;
    }
    .phone_icons{
        display: flex !important;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        justify-self: flex-end;
        bottom: 0 !important;
        position: fixed;
        background-color: darkgreen;
        height: 30px;
        color: white;
        font-weight: bold;
    }   
    .phone_icons label {
        cursor: pointer;
    }
    #profile_name,.msg_div{
        width: 100%;
    }
    .msg_div{
        position: fixed;
        bottom: 30px;
        background-color: lightgreen;
    }
}
@media (max-width:500px) {
    
    .msg_div div,.msg_div span{
        width: 300px;
    }
    .msg_div textarea{
        width: 270px;
    }
    .settings_section a,.top label,#youmayknow,.profile_section label,.settings_section label,.userinfo i,.userinfo span,.userinfo button,#connect_msg,#profile_name,.chat_bar span{
        font-size: 20px;
    }
    .profile_section input,.settings_section input,.settings_section select{
        font-size: 20px;
    }
    .top{
        height: 29px;
    }
    .phone_icons{
        height: auto;
    }
    .msg_div{
        bottom: 40px;
    }
    .phone_icons label {
        font-size: 0px;
        padding: 5px;
        border-radius: 10px !important;
    }
    .phone_icons label sup{
        font-size: 15px;
    }
    .phone_icons label i{
        font-size: 30px;
    }
}
