.home{
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
}
body{
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
html{
    scrollbar-width:none;
}
@keyframes highlight{
    0% { align-self: center;margin-right: 0px;margin-left: 0px; }
    100% { align-self: center;margin-right: 0px;margin-left: 0px; }
}
.top label
{
    font-weight: bold;
    font-size: 24px;
    justify-self: center;
    align-self: center;
    color: green;
    padding:15px 0px 15px 10px;
}
.top
{
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    flex-wrap: wrap;
    height: auto;
    background-color: white;
}
#search_chats{
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: -webkit-fill-available;
    align-self: center;
    font-size: 16px;
    color: #000000cc;
    font-family: sans-serif;
}
.chats a{
    background: white;
    position: fixed;
    top: 20px;
    width: 50%;
    justify-content: center;
    display: flex;
}
.chats aa{
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    padding: 0 10px;
    border: 1px gray solid;
    padding-right: 0px;
    display: flex;
}
.chats aa i{
    color: black;
}
.body_section{
    display:flex;    
    background-color: white;
}
.body_section div{
    height: 100vh;
    width: 100%;
    display: flex;
}
.desktop_icons{
    flex: .5 ;
    border: darkgreen solid ;
    border-width: 0px 1px 0px 0px;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
    gap: 30px;
}
.desktop_icons label{
    cursor: pointer;
    width: 100%;
    text-align: start;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 30px;
}
.desktop_icons label i{
    margin-right: 5px;
}
.main_body_section
{
    flex: 1 ;
    border: darkgreen solid ;
    border-width: 0px 1px 0px 0px;
    flex-direction: column;
    overflow-x: hidden;
}
.people_section
{
    overflow-y: scroll;
    flex: .5 ;
    flex-direction: column;
    scrollbar-width: none;
}
.userinfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    height: auto !important;
}
.userinfo div{
    flex-direction: row;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 0px;
    display: flex;
    width: -webkit-fill-available;
}
.userinfo i, .userinfo button, .userinfo span{
    font-weight: bold;
    font-size: 18px;
}
.userinfo button{
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    background: none;
    margin-left: auto;
    padding:0;
    align-self: center;
}
.userinfo i{
    background: green;
    color: white;
    width: 20px;
    padding: 10px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: auto;
}
.userinfo img{
    flex-shrink: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.people_section span ,.desktop_icons,.people_section{
    word-wrap: break-word;
    word-break: break-word;
}
#youmayknow{
    font-size: 18px;
    margin-bottom: 15px;
    top:20px;
    position: fixed;
    width: -webkit-fill-available;
    justify-content: center;
}
.people_section aaa{
    display: flex;
    border: 1px solid gray;
    border-radius: 20px;
    color: #000000cc;
    width: auto;
    align-items: center;
    background: white;
}
.people_section aa{
    display: flex;
    width: -webkit-fill-available;
    margin-bottom: 15px;
    top: 56px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}
#no_match{
    padding-top: 0px;
    position: fixed;
}
.profile_section,.settings_section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: scroll;
    scrollbar-width: none;
}
.profile_section label,.settings_section label{
    font-size: 18px;
    font-weight: 500;
    align-self: flex-start;
}
.profile_section input,.settings_section input,.settings_section select{
    font-size: 18px;
    color:black;
    border: darkgreen solid;
    border-width: 1px 0px 1px 0px;
    border-radius: 5px;
    padding: 5px;
}
.profile_section input,.settings_section input{
    width: 243px;
}
.settings_section select{
    width: 253px;
    padding: 4.51px;
}
.settings_section a{
    font-size: 18px;
    text-decoration: underline;
}
.settings_section div,.profile_section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border-radius: 20px;
    background-color: white;
    padding: 10px 20px;
}
.profile_section i{
    font-size: 20px;
    margin-right: 5px;
    width: 24px;
}
.profile_section button,.settings_section button{
    background-color: white;
    padding: 5px;
    color: darkgreen;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    width: -webkit-fill-available;
    height: 31.82px;
}

.chat_detail_section{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}

.chat_detail_section label,.chats label{
    font-weight: bold;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    color: darkgreen;
}
#profile_name{
    background-color: white;
    width: 50%;
    position: fixed;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    top: 0;
    border-bottom:1px gray solid;
}
#profile_name img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    flex-shrink: 0;
    margin: 10px 0px;
}
#refresh_people{
    cursor: pointer;
}
.msg_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    position: fixed;
    align-self: center;
    bottom: 0px;
    margin:5px 10px;
    border-radius: 20px;
}
.msg_div textarea{
    font-family: sans-serif;
    font-size: 18px;
    width: 400px;
    border-radius: 20px;
    padding-left: 8px;
}
.msg_div div,.msg_div span{
    width: 430px;
    border-radius: 20px;
}
.msg_div textarea,.msg_div button{
    border:none ;
}
.msg_div button{
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}
.msg_div div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}
.chats{
    display: flex;
    margin-top: 75px;
    flex-direction: column;
    overflow-y: scroll;
    gap:15px;
}
.chat_bar{
    flex: .1;
    justify-content: center;
    align-items: start;
    cursor: pointer;
}
.chat_bar span{
    font-size: 17px;
    color: #555;
    overflow-x: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}
#connect_msg{
    border-width: 0px 0px 1px 0px !important;
    width: 100%;
}
.chat_detail_section{
    margin-bottom: 70px;
    margin-top: 67px;
}
.phone_icons label{
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
select{
    cursor: pointer;
}
img{
    cursor: pointer;
}
dialog button{
    width: fit-content;
    padding: 5px;
    color: darkgreen;
    font-weight: bold;
    border-radius: 5px;
    border: 1px darkgreen solid;
    background-color: white;
    font-size: 16px;
    cursor:pointer;
}
sup{
    display: inline-block;
}
.waiting_loader{
    animation: spin 1s linear infinite;
}
.chats aaa{
    display: flex;
    justify-content: start;
    align-self: start;
    margin-left: 10px;
    gap:10px;
}
.chats aaa label{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
}
@keyframes spin{
    to {transform: rotate(360deg);}
}
@media (max-width: 1100px)
{
    .top{
        display: flex;
    }
    .chats a{
        top: 58px;
    }
    #youmayknow{
        top: 58px;
    }
    .people_section aa{
        top:94px;
    }
    #profile_name{
        border-radius: 0px;
    }
    .msg_div div{
        border:1px gray solid;
    }
    .desktop_icons{
        display: none !important;
    }
    .phone_icons{
        display: none;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        justify-self: flex-end;
        bottom: 0 !important;
        position: fixed;
        height: auto;
        font-weight: bold;
        border-top: 1px gray solid;
    }   
    .phone_icons label {
        cursor: pointer;
    }
    #profile_name,.chats a{
        width: 100%;
    }
    .msg_div{
        position: fixed;
    }
    .phone_icons label {
        font-size: 16px;
        padding: 5px;
    }
    .phone_icons label sup{
        font-size: 14px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .phone_icons label i{
        font-size: 24px;
        width: 24px;
        height: 24px;
        text-align: center;
    }
    .chats{
        margin-bottom: 78px;
        margin-top: 113px;
    }
    .profile_section,.settings_section{
        margin: 58px 0 78px 0;
    }
}
@media (max-width:500px) {
    .msg_div div,.msg_div span,.msg_div textarea,.msg_div {
        width: -webkit-fill-available;
    }
    
}
